<table class="table" style="		
	    position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100px;
		width: 100%;
		background-color: whitesmoke;
		overflow-x: scroll;
		display:block;"
	   hidden="@Hidden"
	   >
	<tbody>
		<tr>
			@if (Results == null)
			{
				<td>Cargando...</td>
			}
			else
			{
				@foreach (var result in Results.OrderByDescending(x => x.Agree).ThenByDescending(x => x.AgreePercentage))
				{
					<td>
						<SingleResult Result="@result"></SingleResult>
					</td>
				}
			}
		</tr>
	</tbody>
</table>

@code {
	[Parameter]
	public List<Result> Results { get; set; }

	[Parameter]
	public bool Hidden { get; set; }
}
