@page "/"

<h1>Encuentra tu candidato ideal</h1>

<p>Responde las preguntas</p>

<NavLink class="btn btn-primary" href="testpresidencial">Presidencial</NavLink>

<p>* No incluye expedientes en estado improcendente</p>
