@page "/"

<h1>Encuentra tu candidato ideal</h1>

<p>Elige tus preferencias:</p>

<ol>
	<li>Responde las preguntas para reducir las opciones</li>
	<li>Lee el plan de gobierno de los partidos que cumplen tus criterios</li>
	<li>Lee las hojas de vida de los candidatos que cumplen tus criterios</li>
</ol>

<NavLink class="btn btn-primary" href="testpresidencial"
		 Style="padding: 20px;margin: 20px;	width: 200px;text-align: center">
	Presidencial
</NavLink>

<NavLink class="btn btn-primary" href="testcongreso"
		 Style="padding: 20px;margin: 20px;width: 200px; text-align:center">
	Congreso
</NavLink>

<NavLink class="btn btn-primary" href="testandino"
		 Style="padding: 20px;margin: 20px;width: 200px; text-align:center">
	Parlamento Andino
</NavLink>

<h2 style="margin-top:20px">Información adicional</h2>

<a href="https://github.com/AndreCL/eleccionesperu2021" target="_blank">
	<img border="0" alt="Github" src="img/github.png" width="50" height="50">
</a>
<a href="https://play.google.com/store/apps/developer?id=Luanca" target="_blank">
	<img border="0" alt="Play store" src="img/playstore.png" width="50" height="50">
</a>
<a href="https://twitter.com/LuancaEU" target="_blank">
	<img border="0" alt="Twitter" src="img/twitter.png" width="50" height="50">
</a>
<!--<a href="" target="_blank">
	<img border="0" alt="Facebook" src="img/fb.png" width="20" height="20">
</a>-->
<a href="https://www.instagram.com/andreclofficial/" target="_blank">
	<img border="0" alt="Instagram" src="img/insta.png" width="50" height="50">
</a>
<!--<a href="" target="_blank">
	<img border="0" alt="Linkedin" src="img/linkedin.png" width="20" height="20">
</a>-->


<br />
<br />

<h3>Acerca de la plataforma</h3>
<ul>
	<li>Gratuita, sin fines de lucro</li>
	<li>Código abierto (open source)</li>
	<li>Datos actualizados de JNE el 01/03/2021</li>
	<li>Si encuentras algún error o quieres mejorar la plataforma puedes hacer un pull request (link github)</li>
	<li>El creador no se hace responsable de errores, sea en la plataforma o en los datos extraídos del JNE. </li>
	<li>Uso de la plataforma es bajo responsabilidad propia y sugerimos que leas las hojas de vida y plan de gobierno en tus 
	resultados.</li>
	<li>Preguntas basadas en informacion general de JNE por lo que te sugerimos revisar plan de gobierno de tus opciones al 
	finalizar estas.</li>
	<li>No incluye expedientes en estado improcendente, tachado, inadmisible, renuncia, retiro o exclusión</li>
	<li>No incluye candidatos sin hoja de vida disponible</li>
</ul>