@page "/"

<h1>Encuentra tu candidato ideal</h1>

<p>Elije tus preferencias:</p>

<NavLink class="btn btn-primary" href="testpresidencial" Style="padding:20px;margin:20px">Presidencial</NavLink>

<h2 style="margin-top:20px">Información adicional</h2>

<h3>Plataforma</h3>
<ul>
	<li>Gratuita, sin fines de lucro</li>
	<li><a href="https://github.com/AndreCL/eleccionesperu2021" target="_blank" class="ml-md-auto">Open source (código abierto)</a></li>
	<li>Si encuentras algún error o quieres mejorar la plataforma puedes hacer un pull request</li>
</ul>

<h3>Test presidencial</h3>
<ul>
	<li>No incluye expedientes en estado improcendente</li>
	<li>Datos actualizados de JNE el 01/02/2021</li>
</ul>


